.Settings__rows {
  padding: 16px 0;
}

.Settings__row {
  display: block;
  text-decoration: none !important;
  padding: 14px 16px;
  color: var(--text_primary);
  font-size: 16px;
  line-height: 20px;
}
